#svg_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }
  #svg_container .link {
    stroke: #999;
    stroke-opacity: 0.5; }

form {
  display: flex;
  align-self: flex-start;
  margin-left: 100px;
  margin-top: 50px;
  position: absolute; }
  form input {
    font-size: 50px;
    text-align: center;
    background-color: transparent;
    color: white;
    border: none; }

svg {
  border: 2px solid white; }
